@font-face {
    font-family: "tbcfont";
    src: url(../font/TBCContractica-Regular.ttf);
  }
body{
    margin: 0px;
    box-sizing: border-box;
    font-family: "tbcfont";
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
p{
    margin: 0px;
}
h5{
    margin: 0px;
}
.concept-baner{
   width: 90%;
   height: 360px;
    margin: auto;
    
}
.Main{
 background-color: #f9fafa;
}
/* concept-baner */
.baner{
    padding: 20px 90px;
   
}
.concept-baner-main1{
    height: 100%;
    border-radius: 6px;
    margin: auto;
    background-image: url("../image/baner1-image.PNG"); 
    background-size: cover;
    background-repeat: no-repeat;

}
.concept-bane-info {
    height: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    flex-direction: column;
    justify-content: flex-end;
}
.baner-Icon a{
    color: white;
    margin-left: 5px;
}
.baner-Icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 10px 15px;
    background-image: linear-gradient(15deg, #001682, #3240e5);
    border-radius: 4px;
}
/* about-concept */
.about-concept{
    width: 100%;
    margin-top: 50px;
    
}
.about-concept-center{
    width: 85%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.about-concept-center p{
    color: #141719;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.5;
}
/* concept-products */
.concept-products{
    width: 100%;
}
.concept-products-center{
    width: 90%;
    margin: auto;
}
 

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}

.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid-item-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.grid-item-3 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.grid-item-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.grid-item-overlay h2 {
    margin: 0;
    font-size: 24px;
}

.grid-item-overlay a {
    color: white;
    text-decoration: underline;
    font-size: 16px;
    display: block;
    margin-top: 10px;
}
.grid-item-overlay i{
    font-size: 18px;
}
/* concept-results */

.concept-results{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.stats-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
}

.stat-card {
    background-color: #ffffff;
    padding: 40px 20px 40px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align:justify;
    width: 25%;
}

.stat-card h2 {
    margin: 0;
    font-size: 36px;
    color: #333;
}

.stat-card p {
    margin: 10px 0 0;
    font-size: 18px;
    color: #777;
}

/* concept-offer */
.concept-offer{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.slider-container {
    cursor: pointer;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 20px;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color:#007aff #f1f1f1;
}

.slider-container::-webkit-scrollbar {
    height: 15px;
}

.slider {
    display: flex;
    gap: 10px; 
}

.slider-item {
    border: 1px solid #e1e4e5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 40%;
    flex: 0 0 30%;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    
}
.slider-item:hover{
    background-color: #ffffff;
    cursor: pointer;
    img{
        width: 110%;

    }

}

.slider-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.concept-offer-overlay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 28px;
    row-gap: 15px;
}

.concept-offer-overlay h2 {
    margin: 10px 0 0;
    font-size: 18px;
    color: #333;
}

.concept-offer-overlay p {
    margin: 0;
    font-size: 16px;
    color: #777;
}
.slider-container-buttuns{
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
}
.slider-container-buttuns div a{
    color: #141719;
    margin-top: 0;
    font-size: 20px;
    font-weight: 700;
}
.slider-container-buttuns .arrow-div{
    display: flex;
    justify-content: space-evenly;
    color: #182cc0;
}
.slider-container-buttuns .arrow-div i{
    font-size: 30px;
}
.slider-container-buttuns .arrow-div a{
    color: #182cc0;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
    width: 100%;
    text-align: center;
}
/* section get-app */
.get-app{
    width: 100%;
    background-color: white;
}
.get-app-center{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.get-app-center-left {
    width: 55%;
    row-gap: 15px;
    flex-direction: column;
    flex: none;
    align-items: flex-start;
    display: flex;
}
.get-app-center-right img {
    height: 350px;
    object-position: 100% 100%;
    align-self: flex-end;
   
}
.get-app-center-left h2{
    color: #141719;
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
}
.get-app-center-left p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}
.get-app-buttons-hiden{
    display: none;
}
.get-app-buttons {
    column-gap: 16px;
    row-gap: 16px;
    flex-wrap: wrap;
    margin-top: 8px;
    display: flex;
}
.get-app-buttons a{
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #e1e4e5;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
    text-decoration: none;
    transition: background-position .25s ease-in-out;
    display: flex;
}
.get-app-buttons a:hover{
    background-color:#fff;
}
.slider-container-h2{
    color: #141719;
    margin-top: 0;
    font-size: 28px;
    font-weight: 700;
    margin-left: 50px;
}

/* section concept-baner2 */
.concept-baner-main2{
    height: 80%;
    border-radius: 6px;
    margin: auto;
    background-image: url("https://static.tbcconcept.ge/desktop/media/nvmgsymp.3xqprivate%20banker.png"); 
    background-size: cover;
    background-repeat: no-repeat;

}
/* section awards */
.awards .slider-item{
    min-width: 30%;
    row-gap: 24px;
    flex-direction: column;
    align-items: flex-start;
    padding: 28px;
    display: flex;
    background-color: #fff;
    margin-right: 30px;
}
.awards .slider-item img{
    width: 129px;
    height: 52px;
}
.awards img:hover{
    width: 129px;
}
.awards .concept-offer-overlay{
    padding: 28px 0px;
    row-gap: 24px;
    
}
/* footer */

.footer {
    background-color: white;
    padding: 20px 0;
    border-top: 1px solid #e1e4e5;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    row-gap: 24px;
}
.footer-column-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-container-center{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    row-gap: 16px;
    padding-bottom: 20px;
}
.footer-column {
    flex: 1;
    margin: 0 10px;
}

.footer-logo img{
    width: 165px;
}

.footer-column h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    margin-left: 10px;
}

.contact-info {
    margin-bottom: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 24px;
}

.footer-bottom {
    text-align: center;
    padding: 20px 20px;
    border-top: 1px solid #e1e4e5;
   
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #777;
}
.footer-bottom-center{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.social-icons{
    align-items: center;
    justify-content: flex-start;
    display: flex;

}
.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #f9fafa;
    border-radius: 6px;
    color: #555f62;
    
}
.footer-bottom-rule{
    display: flex;
}
.footer-bottom-rule img{
    width: 25px;
}
.footer-bottom-link{
    grid-column-gap: 35px;
    grid-row-gap: 8px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}
.footer-bottom-link span a{
    font-size: 14px;
    color: #555f62;
}
.footer-bottom-link span a:hover{
    
    color:#3240e5;
}

/* responsive */

@media (max-width: 995px) {
    .baner{
        padding: 40px 50px;
    }
    .concept-bane-info{
        max-width: 450px;
        min-height: 360px;
        margin: 0px;
    }
    .baner-Icon {
        width: 30%;
    }
    .about-concept-center p {
        font-size: 32px;
    }
    .concept-results {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .stats-container{
        flex-direction: column;
        row-gap: 20px;
    }
    .stat-card{
        width: 90%;
        border-radius: 8px;
        box-shadow: none;
        padding: 40px 10px 40px 20px;
    }
    .slider-container-buttuns{
        width: 95%;
        margin: auto;
    }
    .get-app-buttons{
        display: none;
    }
    .get-app-buttons-hiden{
        display: flex;
        background-color: #f9fafa;
    grid-column-gap: 4px;
    color: #182cc0;
    text-transform: uppercase;
    border: 1px solid #182cc0;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
    text-decoration: none;
    }
}

@media (max-width: 775px){
    .concept-baner{
        width: 100%;
    }
    .concept-bane-info{
        min-height: 100%;
        display: flex;
        flex: 1;
        max-width: 100%;
        align-items: stretch;
    } 
    .baner-Icon {
        width: 95%;
    }
    .about-concept-center p {
        font-size: 28px;
    }
    .grid-container {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        gap: 10px;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
    }

    .grid-item {
        min-width: calc(100% - 250px);
        scroll-snap-align: start;
    }
    .slider-item{
        flex: 0 0 60%;
    }
    .slider-container-buttuns div a{
        font-size: 14px;
    }
    .get-app-center{
        flex-direction: column-reverse;
    }
    .get-app-center-left{
        width: 100%;
        align-items: center;
    }
    .get-app-buttons-hiden{
        width:90% ;
        
    }
    .get-app-center-right{
        width: 100%;
        display: flex;
    }
    .concept-offer-overlay p{
        font-size: 14px;
    }
    .slider-container-h2 {
        margin-left: 5px;
    } 
    .footer-container-center {
        display: flex;
        flex-direction: column;
    }

    .footer-column h3 {
        cursor: pointer;
        position: relative;
        font-size: 24px;
    }

    .footer-column ul {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer-column.active ul {
        display: flex;
        flex-direction: column;
        row-gap:  24px;
        padding: 10px 45px 30px 5px;
        
    }
    .footer-column ul li a{
        font-size: 16px;
    }
    .drop{
        border-bottom: 1px solid #d1d5d6;
        padding: 0px 10px 32px 10px;
    }   
    #footer-column4 ul{
        display: block;

    }
    .social-icons {
        padding: 20px 0px;
    }
    .footer-bottom-center{
        flex-direction: column-reverse;
        row-gap: 10px;
        width: 100%;
        margin: 0px;
    }


}
@media (max-width: 550px){
    .concept-bane-info{
        font-size: 14px;
    }
    .about-concept-center p {
        font-size: 24px;
    }
    .grid-item {
        min-width: calc(100% - 50px);
        scroll-snap-align: start;
    }
    .slider-item{
        flex: 0 0 80%;
    }
    .slider-container-buttuns div a,
    .slider-container-buttuns .arrow-div a{
        font-size: 12px;
    }
    .slider-container-buttuns .arrow-div i{
        font-size: 20px;
    }
    .get-app-center-right{
        justify-content: center;
    }
    .get-app-center-left{
        width: 90%;
        align-items: center;
    }
    .concept-offer-overlay{
        padding: 20px;
        overflow: hidden;
    }
    .concept-offer-overlay p{
        font-size: 12px;
    }
    .concept-offer-overlay h2 {
       font-size: 14px;
    }

}